@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

html {
  color: #232333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: auto;
  padding: 0;
  /* max-width: 1024px; */
}
.App h1.title {
  margin: 32px 16px;
}
.App>.wrapper {
  max-width: 1024px;
  margin: 40px auto;
}

header.header {
  margin: 24px 16px;
  padding: 16px 0;
  border-top: 1px solid #DCDFE6;
  border-bottom: 1px solid #DCDFE6;
}

select { 
  text-transform: capitalize
}

.footer {
  margin: 20px 0 40px;
}